[submodule "lib/ZendFramework"]
	path = lib/ZendFramework
	url = https://github.com/mridgway/Zend-Framework-1.x-Mirror.git
[submodule "lib/Dwoo"]
	path = lib/Dwoo
	url = https://github.com/Seldaek/Dwoo.git
