/*-----------------------------------------------------------------------------
Ketchup main Screen Stylesheet

	Author:		@stefanooldeman (on twitter)
	url:		github.com/stefanooldeman/ketchup

-----------------------------------------------------------------------------*/

* {
	margin:0;
	padding:0;
	border:0;
}

/* Styles for layout
-----------------------------------------------------------------------------*/

.left { float: left; }
.right { float: right; }
.clear { clear:both; }

/* Set up the document
-----------------------------------------------------------------------------*/

body {
	font: 62.5%/1.5  "Lucida Grande", "Lucida Sans", Tahoma, Verdana, sans-serif;
	background: white;
	color: #333;
}



#wrapper {
	width: 80%; /* Set page width here - you can also use percentage */
	min-width:700px;
	margin-left:auto;
	margin-right:auto;

	/* style */
	margin-top:20px;
	padding:10px;
	border:1px solid grey;
	border-radius: 15px;
	-moz-border-radius: 15px;
}


/* Typography
-----------------------------------------------------------------------------*/

h1 {
	font-size: 2.2em; /* Equivalent to 22pt */
}

h2 {
	font-size: 2.0em; /* Equivalent to 20pt */
}

h3 {
	font-size: 1.8em; /* Equivalent to 18pt */
}

h4 {
    font-size: 1.6em; /* Equivalent to 18pt */
}

h5 {
	font-size: 1.4em; /* Equivalent to 14pt */
}

p, q, cite {
	font-size: 1.2em; /* Equivalent to 12pt */
}

ul, ol, dl {
	list-style: none;
	font-size: 1.2em; /* Equivalent to 12pt */
}

li, dd, dt {
	font-size: 1.2em; /* Equivalent to 12pt */
}

blockquote {
	background:#f4f4f4;
	border-left:3px solid #ccc;
	margin:1.5em 10px;
	margin-left:auto;
	padding:.5em 10px;
	quotes:"\201C""\201D""\2018""\2019";
}
blockquote:before {
	content:open-quote;
	color:#ccc;
	font-size:25px;
	line-height:0.1em;
	margin-right:.25em;
	vertical-align:-.4em;
}
blockquote:after {
	position:absolute;
	color:#ccc;
	content:close-quote;
	font-size:25px;
	margin-left:.25em;
	vertical-align:.4em;
}
blockquote p {
	display:inline;
	font-size: (inherit + 0.5em);
	font-style: italic;
}

#posts article {
	padding-top:10px;
	border-bottom:1px solid grey;
}
#posts article.last {border-bottom:none;}

/* Forms
-----------------------------------------------------------------------------*/



input.text {
	padding: 3px;
	border: 1px solid #999999;
}


/* Tables
-----------------------------------------------------------------------------*/



table {
  	border-spacing: 0;
	border-collapse: collapse;
}

td {
  	text-align: left;
	font-weight: normal;
}